@if(welcomeToken()) {
  <app-navbar></app-navbar>
    <router-outlet></router-outlet>
} @else {
<div class="center-margin">
  <mat-card appearance="outlined" class="welcome-card">
    <mat-card-content>
      <div class="flex-vertical">
        <h1 class="m-0">Thanks for visting</h1>
        <ul class="m-0 text-left">
          <li>Used Angular V18</li>
          <li>Used Dexie.js for indexedDB</li>
          <li>Angular Material as UI Library</li>
          <li>Angular Signals & RXJS</li>
          <li>UI Pages in components folder</li>
          <li>Reusable component in shared folder</li>
          <li>Firebase Hosting</li>
        </ul>
        <mat-divider></mat-divider>
        <button mat-flat-button class="button_style" (click)="continue()">
          Please click here to continue
          <mat-icon
            aria-hidden="false"
            aria-label="chevron right icon"
            fontIcon="chevron_right"
          ></mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
}
